.ms-main-box {height: 100vh; width: 100vw;}

.header-fullscreen {height: 15vh; background-color: #009688;}

.main-fullscreen {height: 85vh; background-color: #dbdbd4;}

.ms-box {margin: 20px 130px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow-x: hidden; overflow-y: hidden;}

.ms-fullround {border-radius: 50%;}

.ms-fs-1 {font-size: 15px;}

.ms-circle i {display: flex; align-items: center; font-size: 17px;}

.ms-circle {width: 35px; height: 35px; background-color: white; border-radius: 50%;}

.ms-icon {display: flex; justify-content: end;}

.ms-between {justify-content: space-between;}

.ms-bg-user {background-color: #eaeaea;}

.ms-color-icon {color: #b1b1b1;}

.ms-bg-notify {background-color: #8edafc;}

.ms-color-notify {color:#8edafc;}

.ms-fs-notify {font-size: 14px;}

.ms-fs-notify-2 {font-size: 12px;}

.ms-search {font-size: 16px; color: #b5b8b9;}

.ms-border-search-bar {border: 1px solid; border-color: #f5f5f5;}

.ms-w-userpicture {width: 50px;}

.ms-roundend-pfp {border-radius: 50%; width: 45px; height: 45px;}

.ms-fs-3 {font-size: 13px;}

.ms-scrolling-chat {overflow-x: hidden; overflow-y: scroll;}

.ms-block-position {position: sticky;}

.ms-bg-chat {background-image: url(/img/mine.jpg); display: flex; flex-direction: column; justify-content: space-between;}

.bg-low-bar {background-color: #f3eeea;}


@media screen and (max-width: 1200px) {
    .ms-circle i { width: 100px; justify-content: center;}
}

@media screen and (max-width: 1140px) {
    .ms-circle i { width: 100px; justify-content: center;}
    .ms-circle {margin-right: 10px;}
    .ms-fs-notify { font-size: 13.5px; padding: 0px; margin: 0px; justify-content: start;}
}