.ms-main-box {
    height: 100vh;
    width: 100vw;
}

.header-fullscreen {
    height: 15vh;
    background-color: #009688;
}

.main-fullscreen {
    height: 85vh;
    background-color: #dbdbd4;
}

.ms-box {
    margin: 40px 130px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}